body.error .inner .fa {
    color: #08C;
    width: auto;
    font-size: 100px;
    position: absolute;
    left: -48px;
}

body.error .inner section {
    margin-left:40px;
    height:400px;
}

body.error .inner section h2  {
    margin-bottom:30px;
}

body.error .inner section h2 em {
    font-style: normal;
    opacity: 0.7;    
}

body.error .inner section p {
    line-height: 40px;
    font-size:30px;
}

body.error #start-new-test-form .icon-play-circle {
    display:none;
}

body.error #test-options .test-options-set {
    border-radius: 5px;
    padding: 10px;   
    display:inline-block;
    width:24%;    
}

body.error #test-options .test-options-set input {
    width:auto;
}

body.error #test-options .test-options-set:hover {
    background-color:#e5e5e5;    
} 