/*h2 {
    position:relative;
}

h2 .fa-certificate {
    color: #0088cc;
    font-size: 60px;
    position:absolute;
    left: -60px;
    top: -10px;
}

h2 .fa-check {
    color: #fefefe;
    position:absolute;
    font-size: 16px;
    left: -42px;
    top: 10px;        
}*/

.feature-section {
    margin-bottom: 60px;
}

@media (min-width: 992px) {
    .feature-section {
        margin-bottom: auto;
    }

    h2 {
        position:relative;
    }

    h2 .fa-certificate {
        color: #0088cc;
        font-size: 60px;
        position:absolute;
        left: -60px;
        top: -10px;
    }

    h2 .fa-check {
        color: #fefefe;
        position:absolute;
        font-size: 16px;
        left: -42px;
        top: 10px;        
    }    
}

@media (max-width: 1200px) and (min-width: 992px) {  
    #landing-strip h1 {
        font-size: 34px;
        line-height: 34px;
    }
}