body.foo table {
    margin-top: 60px;
}

body.foo th.filled {
    background-color: #0088cc;
    box-shadow: 0 0 6px 2px #b0b2ab;
}

body.foo th {
    color:#fff;
    font-weight: normal;
}

body.foo table th h2 {
    color: #fdfdfd;
    font-weight: normal;    
}

body.foo table th p {
    opacity: 0.8;
    margin-top: -10px;
}

body.foo table th.left-heading {
    border-radius: 5px 0px 0px 0px;
}

body.foo table th.right-heading {
    border-radius: 0px 5px 0px 0px;
}