#landing-strip .container {
    padding: 140px 0 200px 0;
}

#ctas {
    margin-top: -160px;
    margin-bottom: 140px;
}

#ctas .cta {
    text-align: left;
    position: relative;
}

#ctas .cta .primary {
    display: block;
    white-space: normal;
    margin-bottom: 6px;
}

#ctas .cta .byline {
    opacity: 0.8;
    font-size: 14px;
}

#ctas .cta .fa {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px;
}

.feature-section .fundamental .fa {
    font-size: 100px;
    margin-top: -10px;
}


#foo2 .fa {
    color: #848484;
    text-align: right;
    display: block;
    font-size: 120px;
}

#foo2 .stacked .row {
    margin-bottom: 40px;
}

#foo2 p {
    line-height: 30px;
}

#foo2 h2 {
    margin-bottom: 10px;
}


#foo3 .fa {
    color: #848484;
    text-align: right;
    display: block;
    font-size: 40px;
}

@media (min-width: 992px) and (max-width: 1200px) {
    #foo3 h2 {
        font-size: 24px;
    }
}


@media (min-width: 768px) and (max-width: 992px) {
    #foo2 .fa {
        font-size: 120px;
    }
}

@media (max-width: 768px) {
    #ctas {
        margin-top: -200px;
        margin-bottom: 0;
    }

    #ctas .btn {
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }

    .feature-section {
        margin: 20px 0;
        padding-bottom: 0;
    }
}