h1 {
    font-size: 60px;
}

/*#start-new-test-form {*/
    /*margin-left: 28px;*/
    /*margin-top: -20px;    */
/*}*/

#landing-strip {
    border-bottom: none;
    padding-bottom: 0px;
    background-image: url('/bundles/simplytestablewebsite/images/ls04.8.jpg');
    background-position: 50% -310px;
    /*background-position-x: 50%;*/
    /*background-position-y: 0px;*/
    margin-bottom: 0;
    padding-top: 140px;
    text-align: center;
    padding: 0;
}

#landing-strip p {
    font-size: 22px;
    line-height: 22px;
    margin: 40px 0;
}

#landing-strip .container {
    padding: 140px 0 200px 0;
    background-color: rgba(255, 255, 255, 0.2);
}

/*#landing-strip .fadestrip {*/
    /*background: url('/bundles/simplytestablewebsite/images/bottom-fade.png') 0 -42px;*/

    /*background-image: url('/bundles/simplytestablewebsite/images/bottom-fade.png');*/
    /*background-position-y: -42px;*/
    /*height: 140px;*/
/*}*/

#ctas {
    /*background-color: #08c;*/
    /*background-color: rgba(0, 136, 205, 0.1);*/

    /*background: url('/bundles/simplytestablewebsite/images/bottom-fade.png') 0 -42px;*/

    /*background-image: url('/bundles/simplytestablewebsite/images/bottom-fade.png');*/
    /*background-position-y: -42px;*/
    /*height: 140px;*/
    margin-top: -160px;
    /*border-top: 1px solid #f00;*/
    /*padding-top: 40px;*/
    margin-bottom: 140px;
}

#ctas .cta {
    text-align: left;
    position: relative;
}

#ctas .cta .primary {
    display: block;
    white-space: normal;
    margin-bottom: 6px;
}

#ctas .cta .byline {
    opacity: 0.8;
    font-size: 14px;
}

#ctas .cta .fa {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px;
}

.feature-section {
    margin: 60px 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 60px;
}

.feature-section-last {
    border-bottom: none;
}

.feature-section h2 {
    margin-bottom: 30px;
}

.feature-section p,
.feature-section li {
    font-size: 18px;
    line-height: 24px;
    opacity: 0.9;
    margin-bottom: 14px;
}

#foo1 .item .fa {
    opacity: 0.6;
}

#foo1 .feature .fa {
    color: #848484;
    text-align: center;
    display: block;
    font-size: 120px;
}

#foo1 .fundamental .fa {
    font-size: 100px;
    margin-top: -10px;
}

#foo1 .feature {
    margin-bottom: 40px;
}

#foo2 .fa {
    color: #848484;
    text-align: right;
    display: block;
    font-size: 120px;
}

#foo2 .stacked .row {
    margin-bottom: 40px;
}

#foo2 p {
    line-height: 30px;
}

#foo2 p:first-of-type {
    /*margin-top: -20px;*/
}

#foo2 h2 {
    margin-bottom: 10px;
}


#foo3 .fa {
    color: #848484;
    text-align: right;
    display: block;
    font-size: 40px;
}

@media (min-width: 992px) and (max-width: 1200px) {
    #foo3 h2 {
        font-size: 24px;
    }
}


@media (min-width: 768px) and (max-width: 992px) {
    h1 {
        font-size: 46px;
    }

    #landing-strip .container {
        padding-top: 100px;
    }

    #landing-strip p {
        line-height: 32px;
    }

    #foo2 .fa {
        font-size: 120px;
    }

    #foo3 h2 {

    }
}

@media (max-width: 768px) {
    #landing-strip {
        text-align: left;
    }

    h1 {
        font-size: 30px;
    }

    #landing-strip .container {
        padding-top: 80px;
        padding-left: 15px;
        padding-right: 15px;
    }

    #landing-strip p {
        line-height: 30px;
    }

    #ctas {
        margin-top: -200px;
        margin-bottom: 0;
    }

    #ctas .btn {
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }

    .feature-section {
        margin: 20px 0;
        padding-bottom: 0;
    }
}


/*#landing-strip .content {*/
    /*margin-top: 20px;*/
/*}*/

/*#landing-strip .ctas {*/
    /*margin-top: 40px;*/
/*}*/

/*.carousel-control.left,*/
/*.carousel-control.right {*/
    /*background-image: none;*/
    /*filter: none;*/
/*}*/

/*.carousel-control.right {*/
    /*padding-right: 20px;*/
    /*right:0;*/
/*}*/

/*body.IE8 .carousel-control.left,*/
/*body.IE9 .carousel-control.left {*/
    /*left: 30px;*/
/*}*/

/*body.IE8 .carousel-control.right,*/
/*body.IE9 .carousel-control.right {*/
    /*right: -20px;*/
/*}*/

/*.carousel-control .fa {*/
    /*width: 30px;*/
    /*height: 30px;*/
    /*margin-top: -15px;*/
    /*margin-left: -15px;*/
    /*font-size: 30px;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*z-index: 5;*/
    /*display: inline-block;*/
    /*font-size: 50px;*/
    /*color:#888;*/
/*}*/

/*.carousel-indicators li {*/
    /*border-color: #888;*/
    /*width:20px;*/
    /*height: 20px;*/
    /*margin-top: 1px;*/
    /*margin-bottom: 1px;*/
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
/*}*/

/*.carousel-indicators .active {*/
    /*background-color: #888;*/
    /*width:24px;*/
    /*height: 24px;*/
    /*margin-top: 3px;*/
    /*margin-bottom: -1px;*/
    /*margin-left: 8px;*/
    /*margin-right: 8px; */
    /*border-radius: 12px;*/
/*}*/

/*.carousel-inner {*/
    /*border-radius: 2px;*/
    /*box-shadow: 0px 0px 4px 1px #4c4b4a;*/
/*}*/

/*#features {*/
    /*border-bottom: 1px solid #DDD;*/
    /*padding-bottom: 20px;*/
    /*margin-top: -80px;*/
/*}*/

/*#recent-site-tests .url {*/
    /*overflow: hidden;*/
    /*width: 100%;*/
    /*display: inline-block;*/
    /*white-space: nowrap; */
    /*position:relative;*/
    /*padding-bottom: 4px;*/
/*}*/

/*#recent-site-tests .url .testId {*/
    /*color:#222;*/
/*}*/

/*#recent-site-tests .url:hover {*/
    /*text-decoration: none;*/
/*}*/

/*#recent-site-tests .url:hover .website {*/
    /*text-decoration: underline;*/
/*}*/

/*#recent-site-tests .btn-wrapper {*/
    /*position:absolute;*/
    /*right:0;*/
/*}*/

/*#recent-site-tests .btn-spacer {*/
    /*display: inline-block;*/
    /*width: 8px;*/
    /*height: 20px;    */
    /*background-color: #fff;*/
    /*opacity: 0.6;*/
    /*vertical-align: middle;    */
/*}*/

/*#recent-site-tests .summary-container {*/
    /*background-color: #ddd;*/
    /*height:22px;*/
    /*border-radius: 11px;*/
    /*color:#333;*/
    /*padding-left:12px;*/
    /*margin-bottom: 8px;*/
/*}*/

/*#recent-site-tests .summary-stats .error-container {*/
    /*background-color: #b94a48;*/
/*}*/

/*#recent-site-tests .summary-stats .success-container {*/
    /*background-color: #468847;*/
/*}*/

/*#recent-site-tests .summary-stats .summary-figure a,*/
/*#recent-site-tests .summary-stats .summary-figure .anchor {*/
    /*color: #fff;*/
    /*opacity:0.8;*/
    /*display:block;*/
    /*position:relative;*/
/*}*/

/*#recent-site-tests .summary-stats .fa-caret-right {*/
    /*position:absolute;*/
    /*right:12px;*/
    /*top: 4px;*/
/*}*/

/*#recent-site-tests .summary-stats .outline-container .anchor {*/
    /*color: #222;*/
/*}*/

/*#recent-site-tests .summary-stats .summary-figure a:hover {*/
    /*opacity: 1;*/
    /*text-decoration: none;*/
/*}*/

/*#recent-site-tests .progress-row .col-md-12,*/
/*#recent-site-tests .progress {*/
    /*height:4px;*/
    /*min-height: 0px;*/
/*}*/

/*#recent-site-tests .queue-stats {*/
    /*min-height: 0;*/
    /*font-size: 12px;*/
/*}*/

/*#recent-site-tests .queue-stats .col-md-12 {*/
    /*min-height: 26px;*/
/*}*/

/*#features h2 {*/
    /*font-size: 24px;*/
/*}*/

/*#features .feature-section,*/
/*#recent-site-tests .site {*/
    /*margin-bottom: 40px;*/
/*}*/

/*#landing-strip .iconed-list {*/
/*}*/

/*#landing-strip .iconed-list li {*/
    /*font-size: 18px;*/
    /*line-height: 22px;*/
/*}*/

/*#landing-strip .iconed-list span {*/
    /*padding-left: 26px;*/
/*}*/

/*@media (min-width: 1200px) {    */
    /*#features h2 {*/
        /*font-size: 30px;*/
    /*} */

    /*#start-new-test-form {*/
        /*margin-left: 68px;*/
        /*margin-top: -40px;        */
    /*}*/
/*}*/

/*@media (max-width: 1200px) and (min-width: 992px) {    */
    /*#landing-strip h1 {*/
        /*font-size: 28px;*/
        /*line-height: 28px;*/
    /*}    */

    /*#landing-strip .iconed-list li,*/
    /*#landing-strip p {*/
        /*font-size: 14px;*/
        /*line-height: 20px;*/
    /*}*/

    /*#start-new-test-form {*/
        /*margin-left: 63px;*/
        /*margin-top: -65px;        */
    /*}         */
/*}*/

/*@media (min-width: 768px) and (max-width: 992px) {*/
    /*#start-new-test-form {*/
        /*margin-left: 65px;*/
        /*margin-top: -20px;        */
    /*}     */
/*}*/

/*@media (min-width: 768px) {*/
    /*#features .feature-section,*/
    /*#recent-site-tests .site {*/
        /*margin-bottom: 0;*/
    /*}*/
/*}*/

/*@media (max-width: 768px) {*/
    /*body {*/
        /*font-size: 18px;*/
    /*}*/

    /*#landing-strip .leader,*/
    /*#landing-strip .content {*/
        /*margin-left: 0px;*/
    /*}*/

    /*#features h2 {*/
        /*font-size: 30px;*/
    /*}*/

    /*#start-new-test-form {*/
        /*margin-left:0;*/
    /*}*/

    /*#start-new-test-form .btn {*/
        /*width:100%;*/
    /*}*/

    /*.iconed-list span,*/
    /*#landing-strip .iconed-list li span {*/
        /*padding-left:30px;*/
    /*}*/

    /*#landing-strip .iconed-list li,*/
    /*#landing-strip p {*/
        /*line-height: 28px;*/
    /*}*/

/*}*/