.section-icon {
    position: absolute;
    width: 100px;
    height: 100px;
    left: -110px;
    color: #08c;
    font-size: 100px;
    top: 36px;
    line-height: 55px;
}

@media (max-width: 768px) {
    .navbar a.btn,
    .navbar-form {
        margin-left: 34px;
        border: none;
        box-shadow: none;
    }

    .navbar-form {
        margin-right: 0;
    }

    .navbar .text a i {
        margin-right: 6px;
    }
}

@media (max-width: 490px) {
    .navbar-brand span {
        display:none;
    }
}

body.ltIE8 #logo,
body.ltIE8 .navbar,
body.ltIE8 #footer-announcements,
body.ltIE8 #footer-detail,
body.ltIE8 #large-logo {
    display:none;
}