.iconed-list {
    list-style: none;
    margin:0;
    padding:0;
}

.iconed-list li {
    margin-bottom: 10px;
    position: relative;
}

.iconed-list li:before {
    font-family: 'FontAwesome';
    content: '\f00c';
    color: #5cb85c;
    position: absolute;
}

.iconed-list span {
    padding-left: 18px;
    display: block;
}

.iconified-section {
    padding-left: 60px;
}

.iconified-section .row {
    position: relative;
}

.btn-cta {
    text-align: left;
    position: relative;
    width:100%;
}

.btn-cta span {
    display:block;
}

.btn-cta .byline {
    font-size: 13px;
    opacity: 0.8;
}

.btn-cta .fa {
    position: absolute;
    right: 10px;
    font-size: 30px;
    top: 15px;
}

.section-icon {
    position: absolute;
    width: 100px;
    height: 100px;
    left: -110px;
    color: #08c;
    font-size: 100px;
    top: 36px;
    line-height: 55px;
}

@media (max-width: 1200px) {
/*    .btn-cta {
        font-size: 16px;
        line-height: 1.428;
        white-space: normal;
    }

    .btn-cta span {

    }

    .btn-cta .byline {
        margin-top: 4px;
    }

    .btn-cta .fa {
        top: 7px;
        font-size: 26px;
    }    */
}

@media (max-width: 768px) {
    .navbar a.btn,
    .navbar-form {
        margin-left: 34px;
        border: none;
        box-shadow: none;
    }

    .navbar-form {
        margin-right: 0;
    }

    .navbar .text a i {
        margin-right: 6px;
    }

    .iconified-section {
        padding-left: 15px;
    }
}

@media (max-width: 490px) {
    .navbar-brand span {
        display:none;
    }
}

body.ltIE8 #logo,
body.ltIE8 .navbar,
body.ltIE8 #footer-announcements,
body.ltIE8 #footer-detail,
body.ltIE8 #large-logo {
    display:none;
}