#landing-strip h1 {
    margin-bottom: 40px;
}

#landing-strip p {
    font-size: 26px;
    line-height: 34px;    
}

#landing-strip {
    margin-bottom:0;  
}

.browsers a {
    display: block;
    width:128px;
    text-align: center;
    margin-bottom:30px;    
}

.browsers span.name {
    display: block;
    margin-top: 10px;
}

/*body.IE7 #outdated-browser-content .icon-download {
    margin-top:-24px;
    padding-top: 24px;
}*/

#outdated-browser-content p {
    font-size: 18px;
    line-height: 24px;
}