.pricing-tables {
    margin-top: 30px;
}

h1 {
    text-align: center;
}

.plan .price {
    color: #fdfdfd;
}

/*.plan {
    border: 1px solid #ddd;
}*/

.recommended {
    border: none;
}

.plan.recommended .head {
    background-color: #0099dd;
}

.plan.recommended .head h2 {
    margin-top: 14px;
}

.pricing-tables .plan.recommended .head {
    margin-bottom: 0;
}

.plan .price {
    border: none;
    background-color: #0099dd;
    width:100%;
    margin-bottom: 0;
}

.plan.recommended .price {
    background-color: #00aaee;
}

.plan .price p {
    position:relative;
    padding: 10px 0;
}

.plan .price span {
    font-size: 26px;
}

.plan .price i {
    font-style: normal;
    font-size: 12px;
    position:absolute;
    width: 100px;
    text-align: left;
    opacity: 0.8;
    bottom: 16px;
    margin-left:6px;
}

@media (min-width: 1200px) {
    .plan ul li {
        font-size: 14px;
    }    
}

@media (max-width: 992px) {
    .plan.recommended {
        margin-top: 20px;
    }
    
    .plan.recommended .head h2 {
        margin-top: 0;
    }
    
    .plan.recommended .btn {
        margin-bottom: 0;
    }
}

@media (max-width: 768px) {
    .col-xs-12 {
        padding-left: 15%;
        padding-right: 15%;
    }
}