.roadmap .timeline {
    
}

.roadmap .timeline .event {
    float:left;
    margin-bottom:30px;
    position:relative;
}

.roadmap .timeline time {
    float:left;
    width:160px;
    text-align: right;
    opacity:0.8;
    font-size: 20px;
    line-height: 30px;   
}

.roadmap .timeline .detail {
    float:left;
    width:70%;
    margin-left:2%;
}

.roadmap .timeline h3 {
    font-weight: normal;
    font-size:30px;
    line-height: 30px;
    margin-bottom:16px;
    margin-top:0;
}

.roadmap .timeline time span {
    display:block;
}

.roadmap .timeline .detail a,
.roadmap .timeline .detail p {
    font-size:16px;
    line-height: 25px;
}

.roadmap .timeline .detail a {
    font-size:16px;
    line-height: 16px;
}

.roadmap .timeline blockquote {
    border-left-color: #bbb;
    font-style: italic;
}

.roadmap .timeline .indicator {
    position: absolute;
    top: 64px;    
    left: 0;
    text-align: right;
    display: block;
    width: 160px;    
}

.roadmap .timeline .future {
    opacity:0.6;
}

.roadmap .timeline .past {
    opacity:0.6;
}

.roadmap .timeline .indicator i {
    width: auto;
    height: auto;
    font-size: 24px;
    line-height: 24px;
    position:absolute;
    right:0;
}

.roadmap .timeline .past .indicator i.highlighted {
    color:green;
}

.roadmap .timeline .future .indicator i.highlighted {
    color:#0088cc;
}

.roadmap .timeline .next .indicator i.highlighted {
    color:yellow;
}