parameters:
  web_client:
    urls:
      base: http://gears.simplytestable.com
      start_test: /
      recent_tests: /#recent-tests
      sign_in: /signin/      
      sign_up: /signup/
      start_test_submit: /test/start/
  not_found_redirect_map:
    /index.php: http://simplytestable.com/
    /signup.php: "{{web_client::base}}{{web_client::sign_up}}"
    /signup: "{{web_client::base}}{{web_client::sign_up}}"
    /register.php: "{{web_client::base}}{{web_client::sign_up}}"