#landing-strip {
    background-color:#eee;
    border-bottom:1px solid #ddd;
    padding-top:80px;
    padding-bottom:20px;
    margin-bottom: 60px;
}

#landing-strip .intro {
    padding-left:60px;
}

#landing-strip h1 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 20px;    
}

#landing-strip p {
    font-size:18px;
    line-height: 22px;
}

body.homepage #landing-strip {
    margin-bottom: 0;
}

body.homepage #landing-strip.carousel {
    margin-bottom:0;
}

body.homepage .features {
    list-style: none;
    margin-left: 30px;
}

body.homepage .features .feature {
    list-style-type: none;
    position:relative;    
}

body.homepage .features .icon {
    position:absolute;
    left:-30px;
    line-height: 20px;
}

body.homepage .features .icon-star {
    color:yellow;
}

body.homepage h2 {
    background-color: #08C;
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);    
    border-radius: 6px;
    padding: 6px 16px;
    margin-bottom: 10px;
}

body.homepage h2 i {
    font-size: 36px;
    line-height: 36px;
    width: auto;
    height: auto;    
}

#landing-twitter-status {
    height:100px;
}

#landing-twitter-status .icon-twitter {
    height: 100px;
    font-size: 58px;
    margin: 0 10px 0 0;     
    display: inline-block;       
    float: left;     
}

body.homepage .content {
    margin-top:20px;
}

#start-new-test-form {
    margin-bottom:0;
}

#start-new-test-form input {
    padding: 9px 9px 8px 9px;
}

body.homepage #start-new-test-form {
    margin-top:14px;
}

body.homepage #start-new-test-form input {
    width:46%;
}

#recent-site-tests h3 {        
    margin: 0 0 0 -30px;
    padding: 10px 0 10px 30px;       
}

#recent-site-tests .url {
    overflow: hidden;
    width: 100%;
    display: inline-block;
    white-space: nowrap; 
    position:relative;
    padding-bottom: 4px;
}

/*#recent-site-tests .finished .url {
    margin-bottom: 18px;
}*/

#recent-site-tests .queue-stats {
    min-height: 0;
    font-size: 12px;
}

#recent-site-tests .queue-stats .span12 {
    min-height: 26px;
}

#recent-site-tests .btn-wrapper {
    position:absolute;
    right:0;
}

#recent-site-tests .summary-container {
    background-color: #ddd;
    height:22px;
    border-radius: 11px;
    color:#333;
    padding-left:12px;
}

#recent-site-tests .summary-stats .error-container {
    background-color: #b94a48;
}

#recent-site-tests .summary-stats .success-container {
    background-color: #468847;
}

#recent-site-tests .summary-stats .summary-figure a,
#recent-site-tests .summary-stats .summary-figure .anchor {
    color: #fff;
    opacity:0.8;
    display:block;
    position:relative;
}

#recent-site-tests .summary-stats .icon-caret-right {
    position:absolute;
    right:12px;
}

#recent-site-tests .summary-stats .outline-container .anchor {
    color: #222;
}

#recent-site-tests .summary-stats .summary-figure a:hover {
    opacity: 1;
    text-decoration: none;
}

/*#recent-site-tests .progress-row {
    margin-bottom:14px;
}*/

#recent-site-tests .progress-row .span12,
#recent-site-tests .progress {
    height:4px;
    min-height: 0px;
}

#recent-site-tests .progress {    

}

#features {
    border-bottom: 1px solid #DDD;      
    padding-bottom: 20px;
}

#future-development h3 {
    font-size: 18px;
    line-height: 24px;        
}

.planned-improvements {
    margin-top:20px;
}

body.homepage #start-new-test-form .test-options-set {
    border-radius: 5px;
    padding: 10px;   
    display:inline-block;
    width:34%;
}

body.homepage #start-new-test-form .test-options-set:hover {
    background-color:#e5e5e5;    
}  

body.homepage .intro strong {
    font-weight: normal;
    color:#000;
}

body.homepage .carousel-inner {    
    border-radius: 2px;
    box-shadow: 0px 0px 4px 1px #4c4b4a; 
}

body.homepage .iconed-list .content {
    margin-top:-20px;
}

@media (min-width: 1200px) {    
    #landing-strip h1 {
        font-size: 40px;
        line-height: 40px;
    }
    
    body.homepage #start-new-test-form {
        margin-top:40px;
    } 
    
    #landing-twitter-status {
        height:70px;
    }   
    
    #landing-twitter-status .icon-twitter {
        height: 70px;  
    }  
    
    body.content #start-new-test-form input {
        width:392px;
    }  
    
    .roadmap .timeline h3 {
        font-size:40px;
        line-height: 40px;
    }
    
    .roadmap .timeline .detail {
        width:75%;
    }  
    
    #future-development h3 {
        font-size: 24px;
        line-height: 32px;        
    } 
    
    body.homepage #start-new-test-form .test-options-set {
        width:26%;
    }    
}