[class^="icon-"], [class*=" icon-"] {
    background-image: none;
}

.btn [class^="icon-"] {
    margin-top: 2px;
}

.btn [class^="icon-"] {
    display:inline-block;
} 

.navbar .brand {
    background: url('/bundles/simplytestablewebsite/images/st30.png') transparent no-repeat 5px 4px;
    color: #08C;
    padding-left: 40px;
}

.navbar-inverse .brand:hover {
    color:#0ae;
}

.navbar .nav > li {
    padding-top:2px;
    position:relative;
}

.navbar .nav > li i.icon {
    position: absolute;
    top: 12px;
    left: -4px;    
}

.navbar .nav > li:hover i.icon {
    color:#eee;
}

body {
    margin-top:0;
}

.carousel-control {
    top:50%;
}

body .container {
    position:relative;
}

#logo {
    position:absolute;
    background: url('/bundles/simplytestablewebsite/images/logo100-bold-bordered.png') transparent no-repeat top left;
    width:100px;
    height:100px;
    left:-50px;
}

.iconified-section {
    padding-left:60px;
    padding-top:32px;    
}

.section-icon {
    position:absolute;
    width:100px;
    height:100px;
    left:-50px;    
    color:#08c;
    font-size:100px; 
    top:36px;
    line-height: 55px;
}

#footer {
    background-color:#eee;
    border-top:1px solid #ddd;
    margin-top:60px;
    padding: 30px 0;
}

#footer .stay-updated ul {
    list-style: none;
    margin:0;
}

#footer .stay-updated ul li {
    list-style-type: none;
    margin-bottom:6px;
    padding-left:20px;
}

#footer .stay-updated ul li .icon {
    float:left;
    margin-left:-20px;
}

#footer .stay-updated ul li .subtext {
    opacity: 0.6;
}

#footer #love .icon {
    color:#d33a1c;
}

#footer #love blockquote {
    margin:20px 0 0 0;
    padding:0;
    position:relative;
}

#footer #love blockquote p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
}

#footer #love blockquote .quotemark {
    font-size: 70px;
    opacity:0.7;
    display:inline-block;
    margin-bottom: -14px;
}

#footer #love blockquote .quotemark-left {
    
}

#footer #love blockquote .quotemark-right {
margin-bottom: -28px;    
}

#footer #love footer {
    margin-left:30px;
}

.navbar .btn {
    margin-top: 0;
}