[class^="icon-"], [class*=" icon-"] {
    background-image: none;
}

.btn [class^="icon-"] {
    margin-top: 2px;
}

.navbar .brand {
    background: url('/bundles/simplytestablewebsite/images/st30.png') transparent no-repeat 5px 4px;
    color: #08C;
    padding-left: 40px;
}

.navbar-inverse .brand:hover {
    color:#0ae;
}

.navbar .nav > li {
    padding-top:2px;
    position:relative;
}

.navbar .nav > li i.icon {
    position: absolute;
    top: 14px;
    left: -4px;    
}

.navbar .nav > li:hover i.icon {
    color:#eee;
}

body {
    margin-top:0;
}

body.homepage #landing-strip {
    background-color:#eee;
    border-bottom:1px solid #ddd;
    padding-top:80px;
    padding-bottom:30px;
}

body.homepage #landing-strip .container {

}

body.homepage #landing-strip .intro {
    padding-left:60px;
}

body.homepage #landing-strip h1 {
    font-size: 40px;
    margin-bottom: 20px;    
}

body.homepage #landing-strip p {
    font-size:18px;
    line-height: 22px;
}

.carousel-control {
    top:50%;
}

/*.outer {
    width:80%;
    margin:0 10%;
}*/

body.homepage .hero-unit .carousel h4 {
    font-size:14px;
    line-height: 20px;    
}

body.homepage .hero-unit .carousel p {
    font-size:14px;
    line-height: 20px;
    color:#fff;
}

body.homepage .features {
    list-style: none;
    margin-left: 30px;
}

body.homepage .features .feature {
    list-style-type: none;
    position:relative;    
}

body.homepage .features .icon {
    position:absolute;
    left:-30px;
    line-height: 20px;
}

body.homepage .features .icon-star {
    color:yellow;
}

body.homepage input {
    padding: 9px 9px 8px 9px;
    width:310px;
}


.hero-unit h1 {
    font-size: 50px;
    margin-bottom:20px;
}

body.roadmap .hero-unit h1 {
    font-size:40px;
}

.hero-unit h1 a {
    color: #555;
    text-decoration: none;
}

/*body {
    margin-top:80px;
}*/

body.homepage form.newsletter label {
    display:none;
}

body.homepage form.newsletter button {
    vertical-align: top;
}

body.homepage form.newsletter button i {
    vertical-align: bottom;
}

body.homepage form.newsletter #email {
    padding: 9px 14px;
    width:68%;
    margin:0;
}

body.homepage h2 {
    background-color: #08C;
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);    
    border-radius: 6px;
    padding: 6px 16px;
    margin-bottom: 10px;
}

body.homepage h2 i {
    font-size: 36px;
    line-height: 36px;
    width: auto;
    height: auto;    
}

body.homepage .stay-updated form p {
    color: #555;
    font-size: 13px;
    line-height: 18px;    
}

#twitter-status {
    height:80px;
}

#tweet {
    opacity:0;
    height:60px;
}

#twitter-status .icon-twitter {
    color: #08C;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    width: auto;
    height: 70px;
    float: left;
    font-size: 58px;
    display: inline-block;
    margin: 0 10px 0 0;    
}

#tweet .time {
    opacity:0.4;
}

body.homepage .content {
    margin-top:20px;
}

body.homepage form {
    margin: 50px 0 0 0;
}

body.homepage form .icon {
    font-size: 102px;
    width: auto;
    height: auto;
    margin: -14px 20px 0 -40px;
    color: #08C;
}

/*body.homepage .content p {
    color:#111;
    margin-bottom: 18px;
}*/

body .container {
    position:relative;
}

#logo {
    position:absolute;
    background: url('/bundles/simplytestablewebsite/images/logo100-bold-bordered.png') transparent no-repeat top left;
    width:100px;
    height:100px;
    left:-50px;
}

.section-icon {
    position:absolute;
    width:100px;
    height:100px;
    left:-50px;    
    color:#08c;
    font-size:100px; 
    top:36px;
}

body.homepage .blog-link {
    padding: 30px 19px;
}

body.homepage .blog-link i {
    color: #08C;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    width: auto;
    height: 70px;
    float: left;
    font-size: 58px;
    display: inline-block;
    margin: 0 10px 0 0;    
}

body.homepage .roadmap-link i {
    color: #08C;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    width: auto;
    height: 70px;
    float: left;
    font-size: 58px;
    display: inline-block;
    margin: 0 10px 0 0;    
}

.content .sidebar h2 {
    background-color: #08C;
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 0px 10px;
    margin-bottom: 10px;  
    
    font-size:16px;
}

.content .sidebar h2 i {
    width: auto;
    height: auto;  
    
    font-size:16px;
    line-height: 16px;
    
    margin-right:4px;
}

.content .sidebar .newsletter #email {
    width: 66%;
    margin: 0;
}

.roadmap .timeline {
    list-style: none;
    margin: 0;    
}

.roadmap .timeline .event {
    position:relative;
    height:220px;
    font-size:40px;
    line-height: 40px;
}

.roadmap .timeline time {
    position:absolute;
    left:0;
    text-align: right;
    width:200px;
    opacity:0.8;
    font-size: 20px;
    line-height: 30px;
}

.roadmap .timeline .detail {
    position:absolute;
    left: 220px;
}

.roadmap .timeline .future {
    opacity:0.6;
}

.roadmap .timeline .past {
    opacity:0.6;
}

.roadmap .timeline time span {
    display:block;
}

.roadmap .timeline h3 {
    font-weight: normal;
    font-size:40px;
    margin-bottom:16px;
    margin-top:0;
}

.roadmap .timeline .detail a,
.roadmap .timeline .detail p {
    font-size:16px;
    line-height: 25px;
}

.roadmap .timeline .detail a {
    font-size:16px;
    line-height: 16px;
}

.roadmap .timeline blockquote {
    border-left-color: #bbb;
    font-style: italic;
}

.roadmap .timeline .indicator {
    position: absolute;
    top: 36%;    
    left: 0;
    text-align: right;
    display: block;
    width: 180px;    
}

.roadmap .timeline .indicator i {
    width: auto;
    height: auto;
    font-size: 24px;
    line-height: 24px;
    position:absolute;
}    

.roadmap .timeline .next .indicator i.highlighted {
    color:yellow;
}

.roadmap .timeline .past .indicator i.highlighted {
    color:green;
}

.roadmap .timeline .future .indicator i.highlighted {
    color:#0088cc;
}

.newsletter form label {
    display: none;
}

#recent-site-tests h3 {        
    margin: 0 0 0 -30px;
    padding: 10px 0 10px 30px;       
}

#recent-site-tests {
    border-bottom: 1px solid #DDD;    
}

.iconified-section {
    padding-left:60px;
    padding-top:32px;
    
}

/*.iconified-section .inner {
    margin-left:-30px;
}*/

/*#recent-site-tests ul {
    list-style:none;
    margin:0;
    padding:0;
}*/

#recent-site-tests .site .wrapper {
    padding: 14px 0px 14px 0px;
}

#recent-site-tests .site .icon {
    font-size:20px;
}

#recent-site-tests .site .state-icon {
    margin-right:4px;
}

#recent-site-tests .site .action-icon {
    margin-left:4px;
}

#recent-site-tests .badge {
    padding: 4px 4px 4px 8px;
}

#recent-site-tests .site {
    position:relative;
}

#recent-site-tests .site .url {
    text-decoration: none;
    font-size:16px;
}

#recent-site-tests .site .results {
    position: absolute;
    right: 5px;    
}

#recent-site-tests .site .results a {
    text-decoration: none;
}

#recent-site-tests .site .total .test-count {
    color: #666;
    font-size: 50px;
    line-height: 50px;
    display: block;    
}

#recent-site-tests .site .total .subtext {
    color:#aaa;
}

#recent-site-tests .site .total .percent {
    font-size:14px;
    line-height:14px;
    font-weight: normal;
}

#recent-site-tests .site .detail {
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    padding-right: 3px;
    margin-top: 5px;    
}

#recent-site-tests .site .detail .figure {
    display:inline-block;
    width:30px;
    text-align: right;
}

#recent-site-tests .site .detail .caption {
    
}

#future-development .feature-list {
    list-style:none;
    margin:0;
}

#future-development .feature-list li {
    list-style-type:none;
}

#future-development .feature-list li .icon {
    color:#08c;
}

#future-development .feature-list li.completed .icon {
    color:#468847;
}


#footer {
    background-color:#eee;
    border-top:1px solid #ddd;
    margin-top:60px;
    padding: 30px 0;
/*    padding-top:80px;
    padding-bottom:30px;*/
}