web/bundles/
web/js/
web/css/
web/images/
app/bootstrap.php.cache
app/cache/*
app/logs/*
build/
vendor
bin
composer.phar
/nbproject
/.idea
/app/config/parameters.yml
/src/SimplyTestable/WebsiteBundle/Resources/config/parameters.yml
/web/sitemap.xml
