web/bundles/
web/js/
web/css/
web/images/
app/bootstrap.php.cache
vendor
composer.phar
/.idea
/app/config/parameters.yml
/src/SimplyTestable/WebsiteBundle/Resources/config/parameters.yml
/web/sitemap.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
/build/
/node_modules/
