<div class="summary-container summary-figure outline-container">
    <span class="anchor"><span class="count">{{ test.url_count }}</span> <span class="stat-label">url{% if test.url_count != 1 %}s{% endif %}</span></span>
</div>