.headline {
  margin-bottom: 30px;

  .col-md-10 {
    @media (min-width: 1200px) {
      padding-left: 0;
    }
  }

  @media (min-width: 769px) {
    margin-bottom: 40px;
  }
}

h1 {
  text-align: left;

  @media (max-width: 1200px) {
    font-size: 34px;
  }

  @media (max-width: 992px) {
    font-size: 30px;
  }
}

.not-applicable {
  span {
    opacity: 0.4;
  }
}

.distinctions-table {
  margin-top: 50px;
}

.distinction-data-item {
  padding: 20px 0 20px 20px;
  line-height: 22px;
  border-bottom: 1px solid #ddd;

  .distinction-label {
    display: inline-block;
    font-size: 14px;
    opacity: 0.8;

    @media (min-width: 768px) {
      display: block;
      font-size: 12px;
    }
  }

  @media (min-width: 992px) {
    min-height: 66px;
    text-align: center;
    padding-left: 0;
    line-height: inherit;
  }
}

.distinction-labels {
  padding-right: 0;
  padding-top: 80px;

  .distinction-label-group {
    background-color: transparent;
    list-style: none;
    margin: 0;
    padding: 0;

    &:not(:first-child) {
      margin-top: 80px;
    }
  }

  .distinction-label {
    position: relative;
    text-align: right;
    font-size: 14px;
    border-bottom: 1px solid transparent;
    padding-right: 20px;
    min-height: 66px;

    &:last-child {
      border-bottom: 1px solid #ddd;
    }
  }

  .primary {
    right: 30px;
    position: absolute;
    top: 18px;
  }

  .secondary {
    right: 30px;
    position: absolute;
    bottom: 8px;
    opacity: 0.4;
    font-size: 12px;

    @media (min-width: 1200px) {
      font-size: 14px;
    }
  }
}

.distinction-heading {
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #bbb;
  padding-left: 20px;
  padding-bottom: 11px;
  margin-top: 44px;

  @media (min-width: 992px) {
    border-bottom: 1px solid #ddd;
    position: relative;
    text-align: right;
    padding: 0;
    margin: 0;
  }

  span {
    @media (min-width: 992px) {
      right: 30px;
      position: absolute;
      bottom: 0;
    }
  }
}

.distinction-data {
  background-color: #fff;

  .distinction-data-heading {
    min-height: 80px;
    color: #fdfdfd;
    background-color: #08c;
    padding-top: 12px;
    padding-left: 20px;

    h2 {
      padding: 0;
      margin: 0;
    }

    p {
      font-size: 13px;
      line-height: 15px;
      margin: 4px 0;
      opacity: 0.8;
    }

    &.demo {
      opacity: 0.8;
    }

    &:first-child {
      @media (min-width: 992px) {
        border-top-left-radius: 4px;
      }
    }

    &:last-child {
      @media (min-width: 992px) {
        border-top-right-radius: 4px;
      }
    }

    @media (min-width: 992px) {
      text-align: center;
    }
  }

  .data {
    @media (min-width: 992px) {
      border-top: 1px solid transparent;

      &:not(.first) {
        border-top: 1px solid #ddd;
        margin-top: 80px;
      }
    }
  }
}

.distinction-data-column {
  padding: 0;

  &:first-child {
    .distinction-data-heading {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;

      @media (min-width: 768px) {
        border-top-right-radius: 0;
      }
    }
  }

  &:last-child {
    .distinction-data-heading {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;

      @media (min-width: 768px) {
        border-top-left-radius: 0;
      }
    }

    .distinction-heading {
      @media (min-width: 768px) and (max-width: 992px) {
        color: transparent;
      }
    }
  }
}

.distinction-data-group {
  list-style: none;
  margin: 0;
  padding: 0;
}

.boolean {
  display: none;
}

#landing-strip {
  .distinction-data-heading {
    p {
      font-size: 13px;
      line-height: 15px;
      margin: 4px 0;
    }
  }
}

.ctas {
  padding: 20px;

  .btn {
    padding: 10px 30px;
    display: block;
    width: 100%;

    @media (min-width: 768px) {
      display: inline-block;
      width: auto;
    }
  }

  .btn-plan-select {
    .primary {
      font-size: 16px;
      display: block;
    }

    .secondary {
      opacity: 0.8;
      font-size: 13px;
      display: block;
    }
  }

  @media (min-width: 992px) {
    text-align: center;
    padding-left: 0;
  }
}
