.summary {
  .fa {
    width: 24px;
    text-align: center;
    margin-left: -8px;
  }

  h3 {
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
  }

  &.first-sm {
    margin-top: 60px;

    @media (min-width: 992px) {
      margin-top: 0;
    }
  }
}

.table {
  margin-bottom: 30px;

  tbody {
    tr {
      td {
        border-top: none;
      }
    }
  }
}

.ctas {
  margin-top: 40px;

  .additional {
    border-left: 1px solid #ddd;
    margin-top: 40px;

    @media (min-width: 768px) {
      margin-top: 0;
    }
  }

  a {
    display: inline-block;
  }
}

.not-applicable {
  opacity: 0.4;
}

.boolean {
  display: none;
}

.content {
  p {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 20px;
  }
}

#landing-strip {
  .list-inline {
    margin-top: 20px;
    margin-bottom: -20px;

    li {
      border-right: 1px solid #ccc;

      &:last-child {
        border-right: none;
      }
    }

    a {
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }
}
