<div id="logo" class="hidden-xs">
    {% if app.request.get('_route') != 'home_index' %}
        <a href="{{ path('home_index') }}"><span class="default">Simply Testable Homepage</span></a>
    {% endif %}
</div>
