{% extends 'SimplyTestableWebsiteBundle:PlanDetails:base.html.twig' %}

{% block heading %}Features of the limited demo{% endblock %}

{% block content %}
    <p>
        A free demo is available to everyone - just visit the
        <a href="{{ web_client_urls.start_test }}">test dashboard</a>
        without signing in.
    </p>

    <p>
        The demo offers many of the features you would find if you had an account
        but is limited in the breadth of use.
    </p>

    {% include 'SimplyTestableWebsiteBundle:PlanDetails:index.demo.detail.html.twig' %}

{% endblock %}

{% block ctas %}
    <div class="col-lg-5 col-md-6 col-sm-5">
        {% include 'SimplyTestableWebsiteBundle:Partials/cta-buttons:generic-anchor.html.twig'
        with {
        'url': path('page_plans'),
        'label': 'See plans and pricing',
        'byline':'30-day free trial. From &pound;9 per month.',
        'icon':'caret-right',
        'primary':true
        } %}
    </div>
    <div class="col-lg-4 col-md-6 col-sm-5 additional">
        <a href="{{ web_client_urls.start_test }}">Try a demo now</a>
        <a href="{{ path('page_accountbenefits') }}">Benefits of creating an account</a>
        <a href="{{ path('page_plans') }}">Premium plan options</a>
    </div>
{% endblock %}