<p>
    You can carry out 1 full-site test per site and 1 single-page test
    per page. This limit is not present if you create an account.
</p>

<p>
    All demo tests are public as standard. They can be viewed by anyone
    and are always to be found in the <a href="{{web_client_urls.history}}">demo account test history</a>.
</p>

<p>
    Pages to be tested will be discovered by examining a site's XML sitemap
    or news feed (RSS/Atom).
</p>

<p>
    Sites with no sitemap or news need cannot be tested through the free demo.
    A free or premium account allows a site to be crawled to discover pages
    to test.
</p>

<p>
    Each full-site demo test will examine up to the first {{ features.test_limitations.pages_examined_per_test.value|number_format }} pages discovered. A
    premium account is required for testing larger sites.
</p>

<p>
    Results can be accessed for up to {{ features.access_to_results.results_available_for.value }} only. An account
    is required to claim and view older demo test results.
</p>

<p>
    Demo tests can carry out HTML validation and
    CSS validation tests. An account is required to carry out JavaScript
    static analysis and link integrity (broken
    link) checks.
</p>

<p>
    Demo tests cannot be carried out against HTTPS sites,
    are not able to use HTTP authentication and are not able to set custom
    cookies. A premium account is required to use these features.
</p>