parameters:
    database_driver: pdo_mysql
    database_host: localhost
    database_port: null
    database_name: database_name
    database_user: database_user
    database_password: database_password
    mailer_auth_mode: login
    mailer_transport: smtp
    mailer_host: localhost
    mailer_user: null
    mailer_password: null
    locale: en
    secret: SetThis!
    database_path: null
