{% extends ':PlanDetails:base.html.twig' %}

{% block content %}
    <p>
        The agency account is our ideal subscription for small agencies at
        {{ plan.price|raw }} per month.
    </p>

    <p>
        As with all accounts, your tests are private and can be accessed by you
        only. You can choose to share a read-only report with others.
    </p>

    <p>
        As an account holder you have access to all types of test offered: HTML
        validation, CSS validation, JavaScript static analysis and link integrity
        (broken link) checking.
    </p>

    <p>
        As a premium account holder, you can access your tests results forever
        and unlock the ability to test HTTPS sites, to test sites that use HTTP
        authentication and to use custom cookies.
    </p>

    <p>
        Each test created under an agency account will examine up to the first {{ plan.distinctions.test_limitations.pages_examined_per_test }}
        pages discovered. A higher-tier premium account is required for testing larger sites.
    </p>

    <p>
        An agency account offers {{ plan.distinctions.test_limitations.credits_per_month }} credits per month. A single test against
        a single URL requires 1 credit. Higher-tier premium accounts offer
        greater credit allowances.
    </p>
{% endblock %}

{% block ctas %}
    {% include ':Partials/plan-details:premium-plan-ctas.html.twig'
        with {
            'plan': plan,
            'web_client_urls': web_client_urls
        }
    only %}
{% endblock %}
