<p class="heading hidden-md hidden-lg">{{ name }}</p>

<ul class="item-list demo">                                                            
    <li>
        {% include 'SimplyTestableWebsiteBundle:Partials:boolean-icon.html.twig'
            with {
                'is_set': https_sites.value,
                'name': https_sites.name.primary
            }
        %}
    </li>
    <li>
        {% include 'SimplyTestableWebsiteBundle:Partials:boolean-icon.html.twig'
            with {
                'is_set': http_authentication.value,
                'name': http_authentication.name.primary
            }
        %}
    </li>
    <li>
        {% include 'SimplyTestableWebsiteBundle:Partials:boolean-icon.html.twig'
            with {
                'is_set': custom_cookies.value,
                'name': custom_cookies.name.primary
            }
        %}
    </li>
</ul>