<h3 class="distinction-heading hidden-md hidden-lg">{{ category.name }}</h3>

<ul class="distinction-data-group">
    <li class="distinction-data-item">
        {% include 'SimplyTestableWebsiteBundle:Partials:boolean-icon.html.twig'
            with {
                'is_set': plan_distinctions.html_validation.value,
                'name':category.distinctions.html_validation.name.primary
            }
        %}
    </li>
    <li class="distinction-data-item">
        {% include 'SimplyTestableWebsiteBundle:Partials:boolean-icon.html.twig'
            with {
                'is_set': plan_distinctions.css_validation.value,
                'name':category.distinctions.css_validation.name.primary
            }
        %}
    </li>
    <li class="distinction-data-item">
        {% include 'SimplyTestableWebsiteBundle:Partials:boolean-icon.html.twig'
            with {
                'is_set': plan_distinctions.js_static_analysis.value,
                'name':category.distinctions.js_static_analysis.name.primary
            }
        %}
    </li>
    <li class="distinction-data-item">
        {% include 'SimplyTestableWebsiteBundle:Partials:boolean-icon.html.twig'
            with {
                'is_set': plan_distinctions.link_integrity_checking.value,
                'name':category.distinctions.link_integrity_checking.name.primary
            }
        %}
    </li>
</ul>
