<h3 class="distinction-heading hidden-md hidden-lg">{{ category.name }}</h3>

<ul class="distinction-data-group">
    <li class="distinction-data-item">
        {% include 'SimplyTestableWebsiteBundle:Partials:boolean-icon.html.twig'
            with {
                'is_set': plan_distinctions.discovery_via_sitemap.value,
                'name':category.distinctions.discovery_via_sitemap.name.primary
            }
        %}
    </li>
    <li class="distinction-data-item">
        {% include 'SimplyTestableWebsiteBundle:Partials:boolean-icon.html.twig'
            with {
                'is_set': plan_distinctions.discovery_via_crawl.value,
                'name':category.distinctions.discovery_via_crawl.name.primary
            }
        %}
    </li>
</ul>
