<div class="col-lg-5 col-md-6 col-sm-5">
    {% include 'SimplyTestableWebsiteBundle:Partials/cta-buttons:generic-anchor.html.twig'
        with {
            'url': path('page_plans'),
            'label': 'See plans and pricing',
            'byline':'30-day free trial. From &pound;9 per month.',
            'icon':'caret-right',
            'primary':true
        }
    only %}
</div>
<div class="col-lg-4 col-md-6 col-sm-5 additional">
    {% include '@SimplyTestableWebsite/Partials/plan-details/additional-links.html.twig'
        with {
            'start_test_url': web_client_urls.start_test
        }
    only %}
</div>