<div class="about well">

        <h2>
            <i class="icon-question-sign"></i> 
            About Simply Testable
        </h2>
        <p>
            <strong>Simple, automated front-end web testing. One-click testing for your
            entire site.</strong>
        </p>
        <p> 
            <a href="http://simplytestable.com/">Simply Testable</a> does for front-end web testing what
            <a href="http://github.com">Github</a> does for code and
            <a href="http://travis-ci.org">Travis CI</a> does for code testing.
        </p>
        <a class="btn" href="//simplytestable.com">Learn more <i class="icon-arrow-right"></i></a>
</div>