<div class="about section">
        <h2>
            <i class="fa fa-question-circle"></i> 
            About Simply Testable
        </h2>
        <p>
            <strong>Save time and take the pain out of routine front-end web testing.
            One-click testing of your entire site.</strong>
        </p>
        <p> 
            Validate the HTML markup for your entire site in one click. In
            the future we'll add CSS validation, JS linting and a range
            of quality-related checks.
        </p>        
        <!--
        <p> 
            <a href="http://simplytestable.com/">Simply Testable</a> does for front-end web testing what
            <a href="http://github.com">Github</a> does for code and
            <a href="http://travis-ci.org">Travis CI</a> does for code testing.
        </p>
        -->
        <a class="btn btn-default" href="//simplytestable.com">Learn more <i class="fa fa-caret-right"></i></a>
</div>