<div id="footer">
    <div class="container">
        <div class="row-fluid">            
            <div class="span6" id="love">
                <h4><i class="icon icon-heart"></i> People Who Love Us</h4>            
                <blockquote>
                    
                    <p>
                        <span class="quotemark quotemark-left">&ldquo;</span>
                        {{ testimonial.content }}
                        <span class="quotemark quotemark-right">&rdquo;</span>
                        
                    </p>
                    
                    <footer>
                        &mdash;
                        <cite>
                            <a href="{{ testimonial.url }}">{{ testimonial.name }}</a>
                        </cite>
                    </footer>
                </blockquote>                
            </div>
            <div class="span6">                
{% include 'SimplyTestableWebsiteBundle:Partials:footer-tweet.html.twig' %}
                </div>
            </div>        
            <div class="row-fluid">
                <div class="span6">
                    <h4>About</h4>
                    <p>
                        Save time and take the pain out of routine front-end web testing.
                        One-click testing of your entire site.
                    </p>
                    <p> 
                        Validate the HTML markup for your entire site in one click. In
                        the future we'll add CSS validation, JS linting and a range
                        of quality-related checks.
                    </p>
                </div>            
                <div class="span6 stay-updated">
                    <h4>Stay updated</h4>
                    <ul>
                        <li>
                            <i class="icon icon-envelope"></i>
                            <a href="http://eepurl.com/ni82f">Sign up for our weekly updates newsletter</a>
                            <p class="subtext">
                                Get advanced invites to beta access and updates on new features. You can
                                unsubscribe at any time if this bothers you.
                            </p>                        
                        </li>
                        <li>
                            <i class="icon icon-comments-alt"></i>
                            <a href="//blog.simplytestable.com/">Read our blog</a>                        
                        </li>                   
                    </ul>               

                </div>
            </div>        
        </div>
    </div>