<div id="footer-twitter-status" class="tweet-container">        
    <h4><i class=icon-twitter></i> <a href="http://twitter.com/simplytestable/">@simplytestable</a></h4>
    <div id="footer-tweet" class="tweet">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id enim quam, sed posuere risus. Ut porta rhoncus dignissim. Pellentesque sed.
    </div>
        <p>
                        <i class="icon icon-twitter"></i>
                        <a href="//twitter.com/simplytestable/">Follow @simplytestable</a>              
        </p>
         
</div>