<div id="landing-twitter-status" class="tweet-container well">
    <i class=icon-twitter></i>
    <div id="landing-tweet" class="tweet">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id enim quam, sed posuere risus. Ut porta rhoncus dignissim. Pellentesque sed.
    </div>
    <a href="//twitter.com/simplytestable">Follow @simplytestable &raquo;</a>
</div>