<div id="logo" class="hidden-xs"> 
    {% if app.request.get('_route') != 'homepage' %}                
        <a href="{{ path('homepage') }}"><span class="default">Simply Testable Homepage</span></a>
    {% endif %}
</div> 