<div class="navbar navbar-inverse navbar-fixed-top">    
    <div class="navbar-inner">

        <div class="container">
            <div class="row">
                <div class="span12">
                    <a class="brand" href="{{ path('homepage') }}">
                        SimplyTestable
                    </a>
                    <ul class="nav pull-right">
                        <li class="active"><i class="icon icon-play-circle"></i> <a href="//gears.simplytestable.com/">Start a new website test</a></li>
                        <!--
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        -->
                    </ul> 
                </div>
            </div>
        </div>

    </div>
</div>