<div class="newsletter section">
    <form action="http://simplytestable.us5.list-manage.com/subscribe/post?u=ac75e33d993d2b502e333ddd0&amp;id=311aedc7f4" method="post">
        <h2>
            <i class="icon-envelope"></i> 
            Get updates
        </h2>

        <p>
            Get advanced invites to beta access and updates on new features.
        </p> 

        <p>
            You won't get inundated, we'll send updates about once a week and you can unsubscribe at any time if this bothers you.                                
        </p>

        <div class="input-group">
            <label for="email">Email address</label>
            <input type="email" id="email" name="EMAIL" class="form-control" placeholder="Enter your email address…">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Subscribe</button>
            </span>
        </div>        
        {#        

                
                <input id="email" type="email" value="" name="EMAIL" class="span3" placeholder="Enter your email address…">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-caret-right"></i></button>#}
    </form>             
</div>