<form id="start-new-test-form" method="post" action="//gears.simplytestable.com/test/start/">                
    <div class="fields input-append">
        <input class="input-xlarge" name="website" id="input-website" type="text" placeholder="Enter website homepage URL …">            
        <button type="submit" class="btn btn-primary btn-large">Test your site now</button>            
    </div>
</form>