body.page-accountbenefits {
  h1 {
    text-align: left;

    @media (max-width: 1200px) {
      font-size: 34px;
    }

    @media (max-width: 992px) {
      font-size: 30px;
    }
  }

  .heading {
    .col-md-10 {
      @media (min-width: 1200px) {
        padding-left: 0;
      }
    }
  }

  .data {
    margin-top: 50px;
  }

  .not-applicable {
    span {
      opacity: 0.4;
    }
  }

  .pricing-tables-small {
    .heading {
      font-size: 14px;
      font-weight: bold;
      padding-left: 20px;
      border-bottom: 1px solid #bbb;
      margin-top: 40px;
      color: transparent;
      padding-bottom: 8px;
    }

    .first {
      .heading {
        color: #333;
      }
    }

    &.attached {
      .col-sm-6,
      .col-md-6 {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .plan {
      background-color: #fff;
    }
  }

  .pricing-tables {
    &.attached {
      .plan {
        .head {
          @media (max-width: 768px) {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
          }
        }
      }

      .col-sm-4 {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }

  .distinctions {
    padding-right: 0;
    padding-top: 80px;

    h2 {
      margin: 0;
      padding: 0;
    }

    p {
      margin-bottom: 0;
    }

    ul {
      background-color: transparent;
      list-style: none;
      margin: 0;
      padding: 0 0 25px 0;
    }

    .distinction,
    .heading {
      position: relative;
      text-align: right;
    }

    .distinction {
      font-size: 14px;
      border-bottom: 1px solid transparent;
      padding-right: 20px;
      min-height: 66px;

      &.last {
        border-bottom: 1px solid #ddd;
      }

      &:last-child {
        border-bottom: none;
      }
    }

    .heading {
      font-weight: bold;
      min-height: 80px;
      border-bottom: 1px solid #ddd;

      &:first-child {
        min-height: 40px;
      }

      span {
        right: 30px;
        position: absolute;
        bottom: 0;
      }
    }

    .primary {
      right: 30px;
      position: absolute;
      top: 18px;
    }

    .secondary {
      right: 30px;
      position: absolute;
      bottom: 8px;
      opacity: 0.4;
      font-size: 12px;

      @media (min-width: 1200px) {
        font-size: 14px;
      }
    }

    .heading-first {
      margin-top: -40px;
    }
  }

  .plan {
    margin-top: 0;
    background-color: transparent;
    padding-bottom: 0;

    ul {
      font-size: 14px;
    }

    li {
      padding-bottom: 0;
      min-height: 66px;

      @media (max-width: 992px) {
        padding-left: 20px;
      }

      @media (max-width: 992px) {
        padding-bottom: 20px;
      }
    }

    .row {
      margin: 0;
      background-color: #fff;

      &.final {
        li:last-child {
          border-bottom: none;
        }
      }
    }

    .spacer {
      border-bottom: 1px solid #ddd;
      min-height: 80px;
    }

    .spacer-first {
      min-height: 0;
      border: none;
    }

    .ctas {
      padding: 20px 0;
    }

    .boolean {
      display: none;
    }

    .btn-plan-select {
      .primary {
        font-size: 16px;
        display: block;
      }

      .secondary {
        opacity: 0.8;
        font-size: 13px;
        display: block;
      }
    }

    .head {
      min-height: 80px;

      @media (max-width: 992px) {
        padding-left: 20px;
      }
    }

    .item {
      @media (max-width: 992px) {
        display: block;
        opacity: 0.8;
        font-size: 12px;
      }

      @media (max-width: 768px) {
        display: inline-block;
        font-size: 14px;
      }
    }

    .btn {
      @media (max-width: 992px) {
        margin-left: 20px;
      }
    }

    .btn-sm {
      @media (max-width: 992px) {
        padding: 5px 10px;
      }
    }

    @media (max-width: 992px) {
      text-align: left;
    }
  }

  .demo {
    .head {
      opacity: 0.8;
    }
  }

  .details {
    padding-left: 0;

    .head {
      background-color: transparent;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;

      .demo {
        opacity: 0.8;
      }

      .heading {
        background-color: #08c;
        margin-top: -12px;
        padding-top: 12px;
        padding-bottom: 12px;

        &:first-child {
          border-top-left-radius: 4px;
        }

        &:last-child {
          border-top-right-radius: 4px;
        }
      }
    }
  }
}
