body {
  .navbar-inverse {
    .container {
      .navbar-brand {
        background: url('../images/st30.png') transparent no-repeat 0 9px;
        color: #08c;
        padding-left: 40px;
        margin-left: -30px;
      }
    }
  }
}
