body.error {
  h2 {
    margin-bottom: 30px;

    em {
      font-style: normal;
      opacity: 0.7;
    }
  }

  .inner {
    .fa {
      color: #08c;
      width: auto;
      font-size: 100px;
      position: absolute;
      left: -48px;
    }
  }

  section {
    margin-left: 40px;
    height: 400px;

    p {
      line-height: 40px;
      font-size: 30px;
    }
  }
}
