body {
  &.page-features {
    h1 {
      margin: 0;
      height: 120px;

      @media (min-width: 768px) {
        height: 140px;
      }

      @media (min-width: 992px) and (max-width: 1200px) {
        font-size: 54px;
      }
    }

    #landing-strip {
      .container {
        @media (min-width: 768px) {
          padding-top: 100px;
          padding-bottom: 260px;
        }

        @media (min-width: 768px) and (max-width: 992px) {
          padding-bottom: 140px;
        }
      }
    }

    #upper-nav {
      margin-top: -120px;
      background-image: url('../images/ls04.8.jpg');
      background-position: 50% -632px;

      &.affix {
        top: 51px;
        z-index: 2000;
        width: 100%;
        margin-top: 0;
      }

      a {
        font-size: 20px;
        color: #333;
        display: block;
        padding: 40px 0;
        opacity: 0.8;
        height: 200px;
        border: none;
        outline: none;

        .wrapper {
          margin-left: 45px;
        }

        @media (min-width: 768px) and (max-width: 992px) {
          height: 60px;
          padding-top: 20px;
          font-size: 18px;
        }
      }

      b {
        display: block;
      }

      .byline {
        font-size: 14px;
        margin-top: 12px;
        display: block;
      }

      .fa {
        &.primary {
          opacity: 0.8;
          position: absolute;
          top: 45px;
          left: 15px;

          @media (min-width: 768px) and (max-width: 992px) {
            top: 25px;
          }
        }
      }

      li {
        width: 33.33333333%;

        @media (min-width: 992px) {
          width: 20%;
        }
      }

      .active {
        color: #333;

        a {
          background: transparent;
          opacity: 1;
          border-bottom: 5px solid #666;

          @media (min-width: 768px) and (max-width: 992px) {
            border-bottom: none;

            .fa {
              border-left: none;
            }
          }
        }

        @media (min-width: 768px) and (max-width: 992px) {
          color: inherit;
          opacity: 0.8;
        }
      }

      .inner {
        background-color: rgba(255, 255, 255, 0.6);
      }

      .container {
        background-color: rgba(255, 255, 255, 0.2);
      }

      @media (min-width: 992px) {
        margin-top: -200px;
        background-color: rgba(255, 255, 255, 0.6);
      }
    }

    #upper-nav-fundamental-testing {
      em {
        font-style: normal;

        &:hover {
          color: #000;
        }
      }
    }

    #feature-section-css-validation {
      .fa {
        &.primary {
          font-size: 100px;
        }
      }
    }

    #js-logo {
      color: #848484;
      text-align: center;
      display: block;
      font-size: 120px;
      font-weight: bold;

      @media (min-width: 768px) and (max-width: 992px) {
        font-size: 90px;
        margin-top: -26px;
      }
    }

    &.upper-nav-affix {
      #feature-section-first {
        margin-top: 60px;

        @media (min-width: 992px) {
          margin-top: 70px;
        }
      }
    }
  }
}
