body.page-plans {
  h1 {
    text-align: center;
  }

  .price {
    border: none;
    background-color: #09d;
    width: 100%;
    margin-bottom: 0;
    min-height: 50px;
    color: #fdfdfd;

    p {
      position: relative;
      padding: 10px 0;
    }

    span {
      font-size: 26px;
    }

    i {
      font-style: normal;
      font-size: 12px;
      position: absolute;
      width: 100px;
      text-align: left;
      opacity: 0.8;
      bottom: 16px;
      margin-left: 6px;
    }
  }

  .head {
    a {
      color: #fdfdfd;

      &:hover {
        text-decoration: none;

        h2 {
          opacity: 0.8;
        }

        p {
          opacity: 0.6;
        }
      }
    }

    @media (max-width: 992px) {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
  }

  .more {
    display: block;
    margin-top: 20px;
    font-size: 13px;
    line-height: 13px;
  }

  .plan {
    ul {
      li {
        @media (min-width: 1200px) {
          font-size: 14px;
        }
      }
    }

    &.recommended {
      border: none;

      @media (max-width: 992px) {
        margin-top: 20px;
      }

      /* stylelint-disable no-descending-specificity */
      h2 {
        margin-top: 14px;

        @media (max-width: 992px) {
          margin-top: 0;
        }
      }
      /* stylelint-enable */

      .head {
        background-color: #09d;
        margin-bottom: 0;
      }

      .price {
        background-color: #0ae;
      }

      .btn {
        @media (max-width: 992px) {
          margin-bottom: 0;
        }
      }
    }
  }

  .pricing-tables {
    margin-top: 30px;

    .col-sm-4,
    .col-md-4,
    .col-sm-3,
    .col-md-3 {
      @media (max-width: 992px) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    .plan {
      .head {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
    }
  }

  .btn-plan-select {
    text-align: left;

    .primary {
      font-size: 16px;
      display: block;
    }

    .secondary {
      display: block;
      opacity: 0.8;
      font-size: 13px;
    }
  }
}
