<div class="row">
    <div class="col-md-12">
        <a class="url" href="{{ action_url }}">
            <span class="testId">#{{ test.id }} </span><span class="website">{{ test.formatted_website }}</span>
            <span class="btn-wrapper">
                <span class="btn btn-default btn-xs">{{ cta_label }} <i class="fa fa-caret-right"></i></span>   
            </span>    
        </a>                    
    </div>
</div>