<div class="row summary-stats">
    <div class="col-xs-6">
        {% include 'SimplyTestableWebsiteBundle:Partials:/homepage/test/url-count.html.twig' %}
    </div>
    <div class="col-xs-6">
        {% include 'SimplyTestableWebsiteBundle:Partials:/homepage/test/task-count.html.twig' %}                    
    </div>
</div>