{% extends 'SimplyTestableWebsiteBundle::base.html.twig' %}

{% block stylesheets %}      
{{ parent() }}
<link rel="stylesheet" href="/bundles/simplytestablewebsite/css/pricing-table.css" />
<link rel="stylesheet" href="/bundles/simplytestablewebsite/css/pricing-table-responsive.css" />
<link rel="stylesheet" href="/bundles/simplytestablewebsite/css/plans.css" />
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="//twitterjs.googlecode.com/svn/trunk/src/twitter.min.js" type="text/javascript"></script>
{% endblock %} 

{% block body %}

<div id="landing-strip">
    <div class="container">   
            <div class="row-fluid">
                <div class="span12">
                    <h1>30 day free trial. No credit card required.</h1>
                </div>
            </div> 
            <div class="clearfix"></div>        
        <div class="row-fluid pricing-table pricing-three-column">

            
            <!--
                <div class="span3 plan">
                  <div class="plan-name">
                    <h2>Basic</h2>
                    <span>&pound;0 (free)</span>
                  </div>
                  <ul>
                    <li class="plan-feature">10 full-site tests per site</li>
                    <li class="plan-feature">10 single-URL tests per url</li>
                    <li class="plan-feature">10 URLs per full-site test</li>
                    <li class="plan-feature">--</li>
                    <li class="plan-feature">Online and community support</li>
                    <li class="plan-feature"><a href="#" class="btn btn-success btn-plan-select">Select</a></li>
                  </ul>
                </div>
            -->
            <div class="span4 plan plan-studio">
                <div class="plan-name">
                    <h2>Studio</h2>
                    <p>For individuals and small groups</p>
                    <span>&pound;19 <i>per month</i></span>
                </div>
                <ul>
                    <li class="plan-feature">Unlimited full-site tests per site</li>
                    <li class="plan-feature">Unlimited single-URL tests per url</li>
                    <li class="plan-feature">100 URLs per full-site test</li>
                    <li class="plan-feature">10,000 credits</li>
                    <li class="plan-feature">Email support</li>
                    <li class="plan-feature"><a href="#" class="btn btn-success btn-plan-select">Select</a></li>
                </ul>
            </div>
            <div class="span4 plan plan-business">
                <div class="plan-name">
                    <h2>Business</h2>
                    <p>Best value for professionals</p>
                    <span>&pound;49 <i>per month</i></span>
                </div>
                <ul>
                    <li class="plan-feature">Unlimited full-site tests per site</li>
                    <li class="plan-feature">Unlimited single-URL tests per url</li>
                    <li class="plan-feature">500 URLs per full-site test</li>
                    <li class="plan-feature">30,000 credits</li>
                    <li class="plan-feature">Email and phone support</li>
                    <li class="plan-feature"><a href="#" class="btn btn-success btn-plan-select">Select</a></li>
                </ul>
            </div>
            <div class="span4 plan plan-enterprise">
                <div class="plan-name">
                    <h2>Enterprise</h2>
                    <p>Top of the line</p>                    
                    <span>&pound;299 <i>per month</i></span>
                </div>
                <ul>
                    <li class="plan-feature">Unlimited full-site tests per site</li>
                    <li class="plan-feature">Unlimited single-URL tests per url</li>
                    <li class="plan-feature">10,000 URLs per full-site test</li>
                    <li class="plan-feature">Unlimited credits</li>
                    <li class="plan-feature">Dedicated support number</li>
                    <li class="plan-feature"><a href="#" class="btn btn-success btn-plan-select">Select</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="row-fluid row-get-started">
                <div class="span12">
                    Not sure what's best for you? Get started with a <a href="{{ web_client['urls']['base'] }}{{ web_client['urls']['sign_up'] }}">free basic account</a>
                    and upgrade to a subscription plan after you've tried things out.
                </div>
            </div>            
        </div>

    </div>
</div>

<div id="recent-site-tests">
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <h3>Hello</h3>
                <div class="inner" id="recent-site-tests-list">
                </div>
            </div>
        </div>        
    </div>
</div>

<div id="features">
    <div class="container">
        <div class="row-fluid">
            <div class="span12 iconified-section">
                <i class="icon section-icon icon-asterisk"></i>

                <div class="inner">
                    <div class="span4">                        
                        <h3>Technical verification</h3>
                        <p>Complete:</p>
                        <ul class="feature-list">
                            <li class="completed">
                                <p><i class="icon icon-ok"></i> <span class="content">HTML validation</span></p>
                            </li>
                            <li class="completed">
                                <p><i class="icon icon-ok"></i> <span class="content">CSS validation</span></p>
                            </li>                             
                            <li class="completed">
                                <p><i class="icon icon-ok"></i> <span class="content">JavaScript quality checks with <a href="http://en.wikipedia.org/wiki/JSLint">JSLint</a></span></p>
                            </li>                            
                        </ul> 
                        <!--
                        <p>Planned:</p>
                        <ul class="feature-list">    

                        </ul>                      
                        -->
                    </div>
                    <div class="span4">                        
                        <h3>Quality checks</h3>
                        <p>Planned:</p>
                        <ul class="feature-list">                           
                            <li>
                                <p><i class="icon icon-time"></i> <span class="content">Find broken links</span></span></p>
                            </li>                             
                            <li>
                                <p><i class="icon icon-time"></i> <span class="content">Image <code>alt</code> attribute quality</span></p>
                            </li>                                
                            <li>
                                <p><i class="icon icon-time"></i> <span class="content">Check for presence of <a href="http://www.robotstxt.org/robotstxt.html">robots.txt</a></span></p>
                            </li>                             
                            <li>
                                <p><i class="icon icon-time"></i> <span class="content">Check for presence of a <a href="http://en.wikipedia.org/wiki/Favicon">favicon</a></span></p>
                            </li>                         
                        </ul>                       
                    </div>
                    <div class="span4">                        
                        <h3>Improvements</h3>
                        <p>Complete:</p>
                        <ul class="feature-list">                           
                            <li class="completed">
                                <p><i class="icon icon-ok"></i> <span class="content"><a href="http://blog.simplytestable.com/urls-now-collected-from-news-feeds/">Collect site URLs from an RSS feed</a></span></p>
                            </li>
                            <li class="completed">
                                <p><i class="icon icon-ok"></i> <span class="content"><a href="http://blog.simplytestable.com/compressed-sitemaps-now-supported/">Add support for compressed sitemaps</a></span></p>
                            </li>                             
                            <li class="completed">
                                <p><i class="icon icon-ok"></i> <span class="content"><a href="http://blog.simplytestable.com/gracefully-handling-test-failure-without-blocking-test-progress/">Gracefully handle test failure without blocking test progress</a></span></p>
                            </li>
                            <li class="completed">
                                <p><i class="icon icon-ok"></i> <span class="content"><a href="http://blog.simplytestable.com/improved-viewing-of-results-for-large-tests/">More robust progress and results retrieval for large sites (2000+ URLs)</a></span></p>
                            </li>                             
                        </ul> 
                        <!--
                        <p>Planned:</p>
                        <ul class="feature-list">
                            <li>
                                <p><i class="icon icon-time"></i> <span class="content">More robust progress and results retrieval for large sites (2000+ URLs)</p>
                            </li>                       
                        </ul>
                        -->
                    </div>                        
                </div>
            </div>
        </div>        
    </div>    
</div>


<div id="future-development">
    <div class="container">
        <div class="row-fluid">
            <div class="span12 iconified-section">
                <i class="icon section-icon icon-beaker"></i>

                <div class="inner">
                    <div class="span4">                        
                        <h3>Future Development</h3>
                        <p>
                            This is an alpha release of Simply Testable, a brand
                            new front-end web testing service.
                        </p>                        
                        <p>
                            The service currently validates the HTML markup for
                            your entire site. We're not stopping there; this is
                            just the start.
                        </p>                       
                    </div>
                    <div class="span4">
                        <h3>Tell us what to make</h3>
                        <p>
                            Need to test something we don't yet cover?
                            <a href="https://simplytestable.uservoice.com/">Tell us what to make</a>.
                        </p>
                        <p>
                            Either suggest something new you'd like added, or vote on other suggestions
                            so that we know what new features are most wanted.
                        </p>
                    </div>                        
                    <div class="span4">
                        <h3>Something broken?</h3>
                        <p>
                            This is an alpha release; breakages expected.
                        </p>
                        <p>
                            Drop a line to <a href="http://twitter.com/simplytestable">@simplytestable</a> 
                            or <a href="mailto:&#106;&#111;&#110;&#64;&#115;&#105;&#109;&#112;&#108;&#121;&#116;&#101;&#115;&#116;&#97;&#98;&#108;&#101;&#46;&#99;&#111;&#109;">&#106;&#111;&#110;&#64;&#115;&#105;&#109;&#112;&#108;&#121;&#116;&#101;&#115;&#116;&#97;&#98;&#108;&#101;&#46;&#99;&#111;&#109;</a>
                            if something is not right.
                        </p>
                        <p>
                            Or <a href="https://github.com/webignition/simplytestable.com/issues/new">open a new issue</a>
                            on the <a href="https://github.com/webignition/simplytestable.com/issues">github issue tracker</a>.
                        </p>                            
                    </div>                            
                </div>
            </div>
        </div>        
    </div>    
</div>        


{% endblock %}