<div class="job-finished state-{{ test.state }} {% if test_list is defined and test_list.requiresresults(test.test) %}requires-results{% endif %}">
    {% include ':Partials/homepage/test/summary:header.html.twig' with {'action_url': test.results_url, 'cta_label': 'View results'} %}

    <div class="row summary-stats">
        <div class="col-xs-6">
            {% include ':Partials/homepage/test:warning-count.html.twig' %}
        </div>
        <div class="col-xs-6">
            {% include ':Partials/homepage/test:error-count.html.twig'  %}
        </div>
    </div>

    {% include ':Partials/homepage/test/summary:url-count-task-count-stats.html.twig' %}
</div>
