{% extends 'SimplyTestableWebsiteBundle::Exception/base.html.twig' %}

{% block body_class %} content error error404 {{ parent() }}{% endblock %}

{% block leader_heading %}
    404:Simply Not Found
{% endblock %}

{% block intro_content %}{% endblock %}

{% block inner_content %}
<section>
    <i class="fa fa-search"></i>
    <h2>
        Can't find any <em>{{ requestUri }}</em> here
    </h2>
    <p>
        I've sent an email off to my makers to let them know. If anyone can fix this, they
        can.
    </p>
</section>

<div class="clearfix"></div>
{% endblock %}

{% block sidebar %}{% endblock %}
