.navbar-brand {
  background: url('../images/st30.png') transparent no-repeat 0 9px;
  color: $brand;
  padding-left: 40px;
  margin-left: -30px;

  &:hover {
    color: #0ae;
  }
}

.navbar-nav {
  > .active {
    > a,
    > a:hover {
      background: transparent;
    }
  }
}

.signout-form {
  padding: 0;
}

.spacer {
  width: 0;
  margin-left: 5px;
  margin-right: 5px;
}

.user-actions .spacer {
  border-left: 1px solid #999;
}
