a {
  &.btn {
    @media (max-width: 768px) {
      margin-left: 34px;
      border: none;
      box-shadow: none;
    }
  }
}

.navbar-brand {
  background: url('../images/st30.png') transparent no-repeat 0 9px;
  color: $brand;
  padding-left: 40px;
  margin-left: -30px;

  &:hover {
    color: #0ae;
  }

  span {
    @media (max-width: 490px) {
      display: none;
    }
  }
}

.text {
  a {
    i {
      @media (max-width: 768px) {
        margin-right: 6px;
      }
    }
  }
}

.navbar-nav {
  > .active {
    > a,
    > a:hover {
      background: transparent;
    }
  }
}

.signout-form {
  padding: 0;
  border: none;
  box-shadow: none;
  margin-left: 30px;

  @media (min-width: 768px) {
    margin-left: 0;
  }
}

.spacer {
  width: 0;
  margin-left: 5px;
  margin-right: 5px;
}

.user-actions .spacer {
  border-left: 1px solid #999;
}

.navbar-form {
  @media (max-width: 768px) {
    margin-right: 0;
  }
}
