<div data-test-id="{{test.id}}" class="site finished state-{{ test.state }} {% if test_list is defined and test_list.requiresresults(test.test) %}requires-results{% endif %}">
    <div class="wrapper">
        <div>
            <div class="row-fluid">
                <div class="span12">
                    <a class="url" href="{{ test.results_url }}">
                        <span class="website">{{ test.formatted_website }}</span>
                        <span class="btn-wrapper">
                            <span class="btn-spacer"></span>
                            <span class="btn btn-mini">View results <i class="icon icon-caret-right"></i></span>   
                        </span>    
                    </a>                    
                </div>
            </div>
                        
            <div class="row-fluid summary-stats">
                <div class="span6">
                    {% include 'SimplyTestableWebsiteBundle:Partials:/homepage/test/error-count.html.twig'  %}
                </div>
                <div class="span6">
                    {% include 'SimplyTestableWebsiteBundle:Partials:/homepage/test/warning-count.html.twig' %}
                </div>
            </div>                        

            <div class="row-fluid summary-stats">
                <div class="span6">
                    {% include 'SimplyTestableWebsiteBundle:Partials:/homepage/test/url-count.html.twig' %}
                </div>
                <div class="span6">
                    {% include 'SimplyTestableWebsiteBundle:Partials:/homepage/test/task-count.html.twig' %}                    
                </div>
            </div>

        </div>
    </div>
</div>