<h3 class="distinction-heading hidden-md hidden-lg">{{ category.name }}</h3>

<ul class="distinction-data-group">
    <li class="distinction-data-item">
        <span class="distinction-label hidden-md hidden-lg">
            {{ category.distinctions.results_available_for.name.primary }}
        </span>
        {{ plan_distinctions.results_available_for }}
    </li>
    <li class="distinction-data-item">
        {% include ':Partials:boolean-icon.html.twig'
            with {
                'is_set': plan_distinctions.private_tests.value,
                'name':category.distinctions.private_tests.name.primary
            }
        %}
    </li>
    <li class="distinction-data-item">
        {% include ':Partials:boolean-icon.html.twig'
            with {
                'is_set': plan_distinctions.read_only_reports.value,
                'name':category.distinctions.read_only_reports.name.primary
            }
        %}
    </li>
</ul>
