<div class="summary-container summary-figure outline-container">
    <span class="anchor"><span class="count">{{ test.task_count }}</span> <span class="stat-label">test{% if test.task_count != 1 %}s{% endif %}</span></span>
</div>
