<p>
    <strong>I can't let you do that, sorry</strong>
</p>
<p>
    Your IP address ({{ ip }}) is listed as untrustworthy by the <a href="https://www.stopforumspam.com/">Stop Forum Spam</a>
    service.
</p>
<p>
    Could you get in touch by emailing
    <a href="mailto:{% autoescape false %}{{ contact_email }}{% endautoescape %}">{% autoescape false %}{{ contact_email }}{% endautoescape %}</a>?
</p>
